body{
  background-color: antiquewhite;
  margin: auto;
  text-align: center;
  font-family: 'Nova Flat';
}

h1{
  padding: 1rem;
  margin: 1rem;
}

h2{
  padding: 1rem;
  margin: 1rem;
  text-decoration: underline;
}


div{
  margin: 1rem;
  padding: 1rem;
  margin-left: 30%;
  margin-right: 30%;
}

h3{
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}

.box{
  border-style: double;
  border-width: 2px;
  border-color: black;
}