body{
  background-color: antiquewhite;
  margin: auto;
  text-align: center;
}

h1{
  padding: 1rem;
  margin: 1rem;
}

h2{
  padding: 1rem;
  margin: 1rem;
  text-decoration: underline;
}


div{
  margin: 1rem;
  padding: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}

h3{
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;
}