body{
  background-color: antiquewhite;
  margin: auto;
  text-align: center;
}

h1{
  padding: 1rem;
  margin: 1rem;
}

h2{
  padding: 1rem;
  margin: 1rem;
  text-decoration: underline;
}
li{
  margin: auto;
  text-align: left;
  width: 40%;
}

div{
  margin: 1rem;
  padding: 1rem;
  color: dimgray;
}